<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/index.css" type="text/css"/>
  <title></title>
</head>
<body>
  <main class="container">
    <div class="pages" id="chat-window">
      <h2 class="text-center" id="chat-topic"></h2>
      <div class="container__wrapper-content">
        <ul class="container__wrapper-content__user-list"></ul>

        <div class="container__wrapper-content__chat-wrapper">
          <div class="container__wrapper-content__chat-wrapper__chat-box"></div>
          <div class="container__wrapper-content__chat-box__input-container clearfix">
            <textarea type="text" id="container__wrapper-content__input"></textarea>
            <input type="submit" id="container__wrapper-content__submit" value="send"/>
          </div>
        </div>
      </div>
    </div>
    <div id="user-name" class="pages show">
      UserName <strong id="name"></strong>

      <form class="form change-name-form">
        <label for="change-name">Change</label>
        <input type="text" id="change-name"/>
        <input type="submit" value="Save"/>
      </form>
      <br/>
      Or <a href="#chat-window">Proceed</a>
    </div>
  </main>

  <template id="conversation-template">
    <div class="conversation-text clearfix">
      <span class="conversation-text__owner"></span>
      <p class="conversation-text__content"></p>
    </div>
  </template>
  <template id="user-list-template">
    <li data-id="">
      <a class="user-info"></a>
    </li>
  </template>
  <script src='../js/common.js'></script>
  <script src='../js/index.js'></script>
</body>
</html>
